body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.head {
    width: 100%;
    background-color: #002147; /* Bleu nuit */
    color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* Assure qu'il n'y a pas d'espace blanche autour */
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.blanche
{
    width: 100%;
    height: 100px;
    background-color: white;
}

.navbar {
    background-color: #002147; /* Bleu nuit */
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover,
.navbar a.active {
    color: #ffb6c1; /* Rose clair */
    text-decoration: underline;
}

.articles-container {
    padding: 20px;
}

.article {
    background-color: rgb(226, 212, 212);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.article h2 {
    margin-top: 0;
}

.article p {
    margin: 10px 0;
}
